body {
    background-color: bisque;
}

#wrapper {
    width: 600px;
    margin: auto
}

#txtUsername {
    background-color: transparent;
    border: solid 1px black;
    border-radius: 5px;
}

#left, #right {
    min-height: 300px;
}

#left {
    width: 30%;
    float: left;
    background-color: cornflowerblue;
}

#right {
    width: 70%;
    float: right;
    background-color: aquamarine;
}

#boxTitle {
    border: solid 1px black;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

#boxContent {
    border: solid 1px black;
    border-top: none;
    padding: 5px;
    text-align: center;
}

#sayHi {
    text-align: right;
}

#listMessages {
    height: 250px;
    background-color: aliceblue;
    margin-bottom: 15px;
}

#txtMessage {
    background-color: transparent;
    border: solid 1px black;
}